.UploadLabel{
    box-shadow: 1 black;
    border: 2px black;
}

.ButtonDiv{
    padding: 1%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.btn{
    #parent > * {
        margin-left: 10px;
    }
}

.Table{
    color: white;

}

.UploadedImage{
    max-width: 100px;
    max-height: 100px;
}